# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LaTeX temporários
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pastas que NÃO queremos subir
Backup/
outputs/
Overleaf/
dissertacao_bitcoin_vrp_ml/
figuras/
.sixth/