# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LaTeX temporarios
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pastas que NAO queremos subir
Backup/
outputs/
Overleaf/
dissertacao_bitcoin_vrp_ml/
figuras/
.sixth/

# Dados grandes
binance_raw/
btc_raw/

# Dados intermediarios
data/
code/data/

# Modelos ML
*.joblib